:root[data-theme="dark"] .invert-when-dark img,
:root[data-theme="light"] .invert-when-light img {
  filter:invert(1) hue-rotate(180deg)
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) .invert-when-dark img {
    filter:invert(1) hue-rotate(180deg)
  }
}

@media (prefers-color-scheme: light) {
  :root:not([data-theme]) .invert-when-light img {
    filter:invert(1) hue-rotate(180deg)
  }
}
